USE [master]
GO
/****** Object:  Database [EticaretDB]    Script Date: 30.04.2026 21:48:19 ******/
CREATE DATABASE [EticaretDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EticaretDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EticaretDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EticaretDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EticaretDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EticaretDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EticaretDB]
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 30.04.2026 21:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 30.04.2026 21:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](255) NULL,
	[Eposta] [nvarchar](100) NULL,
	[AdSoyad] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kuponlar]    Script Date: 30.04.2026 21:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kuponlar](
	[KuponID] [int] IDENTITY(1,1) NOT NULL,
	[Kod] [nvarchar](50) NOT NULL,
	[IndirimTur] [nvarchar](20) NOT NULL,
	[Deger] [decimal](10, 2) NOT NULL,
	[MinTutar] [decimal](10, 2) NOT NULL,
	[Aktif] [bit] NOT NULL,
	[IndirimTipi] [nvarchar](10) NULL,
	[MinSepetTutari] [decimal](10, 2) NOT NULL,
	[BitisTarihi] [datetime] NULL,
	[OlusturmaTarihi] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KuponID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RememberTokens]    Script Date: 30.04.2026 21:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RememberTokens](
	[TokenID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[Selector] [nvarchar](32) NOT NULL,
	[ValidatorHash] [nvarchar](255) NOT NULL,
	[SonKullanma] [datetime] NOT NULL,
	[OlusturmaTarihi] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TokenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiparisDetay]    Script Date: 30.04.2026 21:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiparisDetay](
	[DetayID] [int] IDENTITY(1,1) NOT NULL,
	[SiparisID] [int] NOT NULL,
	[UrunID] [int] NOT NULL,
	[Miktar] [int] NOT NULL,
	[BirimFiyat] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DetayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Siparisler]    Script Date: 30.04.2026 21:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siparisler](
	[SiparisID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[ToplamTutar] [decimal](10, 2) NOT NULL,
	[Tarih] [datetime] NULL,
	[Durum] [nvarchar](50) NULL,
	[KuponKod] [nvarchar](50) NULL,
	[IndirimTutar] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SiparisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 30.04.2026 21:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[UrunID] [int] IDENTITY(1,1) NOT NULL,
	[UrunAdi] [nvarchar](100) NOT NULL,
	[Fiyat] [decimal](10, 2) NOT NULL,
	[KategoriID] [int] NULL,
	[Kategori] [nvarchar](100) NULL,
	[GorselURL] [nvarchar](500) NULL,
	[Stok] [int] NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UrunYorumlari]    Script Date: 30.04.2026 21:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrunYorumlari](
	[YorumID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[Puan] [int] NOT NULL,
	[Yorum] [nvarchar](1000) NOT NULL,
	[Tarih] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[YorumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yorumlar]    Script Date: 30.04.2026 21:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yorumlar](
	[YorumID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[Puan] [int] NOT NULL,
	[Yorum] [nvarchar](max) NULL,
	[Tarih] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[YorumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Kategoriler] ON 

INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAdi]) VALUES (1, N'Bilgisayar')
INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAdi]) VALUES (2, N'Donanım')
INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAdi]) VALUES (3, N'Çevre Birimleri')
SET IDENTITY_INSERT [dbo].[Kategoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Kullanicilar] ON 

INSERT [dbo].[Kullanicilar] ([KullaniciID], [KullaniciAdi], [Sifre], [Eposta], [AdSoyad]) VALUES (1, N'admin', N'$2y$10$FHXnhHXzLWMT4lhm69c3n..Rx..m68eZOzxZ0x27ks/W1tM5TD8xC', N'admin@mail.com', N'admin bey')
INSERT [dbo].[Kullanicilar] ([KullaniciID], [KullaniciAdi], [Sifre], [Eposta], [AdSoyad]) VALUES (2, N'mehmet atakan', N'12345', N'mehmetatakanozkan1@gmail.com', N'mehmet atakan')
INSERT [dbo].[Kullanicilar] ([KullaniciID], [KullaniciAdi], [Sifre], [Eposta], [AdSoyad]) VALUES (3, N'mehmet atakan', N'asdf', N'mehmetatakanozkan1@gmail.com', N'mehmet atakan')
SET IDENTITY_INSERT [dbo].[Kullanicilar] OFF
GO
SET IDENTITY_INSERT [dbo].[Kuponlar] ON 

INSERT [dbo].[Kuponlar] ([KuponID], [Kod], [IndirimTur], [Deger], [MinTutar], [Aktif], [IndirimTipi], [MinSepetTutari], [BitisTarihi], [OlusturmaTarihi]) VALUES (1, N'HOSGELDIN', N'yuzde', CAST(10.00 AS Decimal(10, 2)), CAST(200.00 AS Decimal(10, 2)), 1, N'tutar', CAST(0.00 AS Decimal(10, 2)), NULL, CAST(N'2026-04-30T17:59:00.847' AS DateTime))
INSERT [dbo].[Kuponlar] ([KuponID], [Kod], [IndirimTur], [Deger], [MinTutar], [Aktif], [IndirimTipi], [MinSepetTutari], [BitisTarihi], [OlusturmaTarihi]) VALUES (2, N'INDIRIM50', N'sabit', CAST(50.00 AS Decimal(10, 2)), CAST(300.00 AS Decimal(10, 2)), 1, N'tutar', CAST(0.00 AS Decimal(10, 2)), NULL, CAST(N'2026-04-30T17:59:00.847' AS DateTime))
INSERT [dbo].[Kuponlar] ([KuponID], [Kod], [IndirimTur], [Deger], [MinTutar], [Aktif], [IndirimTipi], [MinSepetTutari], [BitisTarihi], [OlusturmaTarihi]) VALUES (3, N'HOSGELDIN10', N'yuzde', CAST(10.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), 1, N'yuzde', CAST(300.00 AS Decimal(10, 2)), NULL, CAST(N'2026-04-30T17:59:00.893' AS DateTime))
SET IDENTITY_INSERT [dbo].[Kuponlar] OFF
GO
SET IDENTITY_INSERT [dbo].[RememberTokens] ON 

INSERT [dbo].[RememberTokens] ([TokenID], [KullaniciID], [Selector], [ValidatorHash], [SonKullanma], [OlusturmaTarihi]) VALUES (3, 1, N'1344d23d2a2e6ee4', N'$2y$10$kS8DEpmcmlfjAkO/epiti.cC51JqgLlLarjdR/Xe4oVDhFM2snD8e', CAST(N'2026-05-30T20:41:56.000' AS DateTime), CAST(N'2026-04-30T21:41:56.573' AS DateTime))
SET IDENTITY_INSERT [dbo].[RememberTokens] OFF
GO
SET IDENTITY_INSERT [dbo].[SiparisDetay] ON 

INSERT [dbo].[SiparisDetay] ([DetayID], [SiparisID], [UrunID], [Miktar], [BirimFiyat]) VALUES (1, 1, 9, 1, CAST(150.00 AS Decimal(10, 2)))
INSERT [dbo].[SiparisDetay] ([DetayID], [SiparisID], [UrunID], [Miktar], [BirimFiyat]) VALUES (2, 2, 10, 1, CAST(75.00 AS Decimal(10, 2)))
INSERT [dbo].[SiparisDetay] ([DetayID], [SiparisID], [UrunID], [Miktar], [BirimFiyat]) VALUES (3, 2, 9, 1, CAST(150.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[SiparisDetay] OFF
GO
SET IDENTITY_INSERT [dbo].[Siparisler] ON 

INSERT [dbo].[Siparisler] ([SiparisID], [KullaniciID], [ToplamTutar], [Tarih], [Durum], [KuponKod], [IndirimTutar]) VALUES (1, 1, CAST(150.00 AS Decimal(10, 2)), CAST(N'2026-04-29T11:20:42.723' AS DateTime), N'İptal', NULL, CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[Siparisler] ([SiparisID], [KullaniciID], [ToplamTutar], [Tarih], [Durum], [KuponKod], [IndirimTutar]) VALUES (2, 1, CAST(1425.00 AS Decimal(10, 2)), CAST(N'2026-04-29T11:21:45.550' AS DateTime), N'Beklemede', NULL, CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[Siparisler] ([SiparisID], [KullaniciID], [ToplamTutar], [Tarih], [Durum], [KuponKod], [IndirimTutar]) VALUES (3, 1, CAST(2000000.00 AS Decimal(10, 2)), CAST(N'2026-04-29T14:14:48.930' AS DateTime), N'Teslim Edildi', NULL, CAST(0.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Siparisler] OFF
GO
SET IDENTITY_INSERT [dbo].[Urunler] ON 

INSERT [dbo].[Urunler] ([UrunID], [UrunAdi], [Fiyat], [KategoriID], [Kategori], [GorselURL], [Stok], [Aciklama]) VALUES (1, N'Laptop', CAST(15000.00 AS Decimal(10, 2)), NULL, N'', N'https://images.pexels.com/photos/7974/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1200', 11, N'')
INSERT [dbo].[Urunler] ([UrunID], [UrunAdi], [Fiyat], [KategoriID], [Kategori], [GorselURL], [Stok], [Aciklama]) VALUES (2, N'Mouse', CAST(200.00 AS Decimal(10, 2)), NULL, N'', N'https://images.pexels.com/photos/5082579/pexels-photo-5082579.jpeg?auto=compress&cs=tinysrgb&w=1200', 12, N'')
INSERT [dbo].[Urunler] ([UrunID], [UrunAdi], [Fiyat], [KategoriID], [Kategori], [GorselURL], [Stok], [Aciklama]) VALUES (3, N'Klavye', CAST(500.00 AS Decimal(10, 2)), NULL, N'', N'https://images.pexels.com/photos/1772123/pexels-photo-1772123.jpeg?auto=compress&cs=tinysrgb&w=1200', 3, N'')
SET IDENTITY_INSERT [dbo].[Urunler] OFF
GO
SET IDENTITY_INSERT [dbo].[UrunYorumlari] ON 

INSERT [dbo].[UrunYorumlari] ([YorumID], [UrunID], [KullaniciID], [Puan], [Yorum], [Tarih]) VALUES (1, 10, 8, 5, N'Harika!', CAST(N'2026-04-30T18:06:07.487' AS DateTime))
SET IDENTITY_INSERT [dbo].[UrunYorumlari] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Kuponlar__C41FEDBCA6C14257]    Script Date: 30.04.2026 21:48:20 ******/
ALTER TABLE [dbo].[Kuponlar] ADD UNIQUE NONCLUSTERED 
(
	[Kod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Remember__B71BF353B3CB473A]    Script Date: 30.04.2026 21:48:20 ******/
ALTER TABLE [dbo].[RememberTokens] ADD UNIQUE NONCLUSTERED 
(
	[Selector] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_UrunYorumlari_Urun_Kullanici]    Script Date: 30.04.2026 21:48:20 ******/
ALTER TABLE [dbo].[UrunYorumlari] ADD  CONSTRAINT [UQ_UrunYorumlari_Urun_Kullanici] UNIQUE NONCLUSTERED 
(
	[UrunID] ASC,
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Kuponlar] ADD  DEFAULT ('yuzde') FOR [IndirimTur]
GO
ALTER TABLE [dbo].[Kuponlar] ADD  DEFAULT ((0)) FOR [MinTutar]
GO
ALTER TABLE [dbo].[Kuponlar] ADD  DEFAULT ((1)) FOR [Aktif]
GO
ALTER TABLE [dbo].[Kuponlar] ADD  CONSTRAINT [DF_Kuponlar_MinSepetTutari]  DEFAULT ((0)) FOR [MinSepetTutari]
GO
ALTER TABLE [dbo].[Kuponlar] ADD  CONSTRAINT [DF_Kuponlar_OlusturmaTarihi]  DEFAULT (getdate()) FOR [OlusturmaTarihi]
GO
ALTER TABLE [dbo].[RememberTokens] ADD  DEFAULT (getdate()) FOR [OlusturmaTarihi]
GO
ALTER TABLE [dbo].[Siparisler] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Siparisler] ADD  DEFAULT (N'Beklemede') FOR [Durum]
GO
ALTER TABLE [dbo].[Siparisler] ADD  DEFAULT ((0)) FOR [IndirimTutar]
GO
ALTER TABLE [dbo].[Urunler] ADD  DEFAULT ((0)) FOR [Stok]
GO
ALTER TABLE [dbo].[UrunYorumlari] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Yorumlar] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[RememberTokens]  WITH CHECK ADD  CONSTRAINT [FK_RememberTokens_Kullanici] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[RememberTokens] CHECK CONSTRAINT [FK_RememberTokens_Kullanici]
GO
ALTER TABLE [dbo].[SiparisDetay]  WITH CHECK ADD FOREIGN KEY([SiparisID])
REFERENCES [dbo].[Siparisler] ([SiparisID])
GO
ALTER TABLE [dbo].[SiparisDetay]  WITH CHECK ADD FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[Siparisler]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[UrunYorumlari]  WITH CHECK ADD  CONSTRAINT [FK_UrunYorumlari_Kullanici] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[UrunYorumlari] CHECK CONSTRAINT [FK_UrunYorumlari_Kullanici]
GO
ALTER TABLE [dbo].[UrunYorumlari]  WITH CHECK ADD  CONSTRAINT [FK_UrunYorumlari_Urun] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[UrunYorumlari] CHECK CONSTRAINT [FK_UrunYorumlari_Urun]
GO
ALTER TABLE [dbo].[Yorumlar]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Yorumlar]  WITH CHECK ADD FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[Kuponlar]  WITH CHECK ADD  CONSTRAINT [CK_Kuponlar_IndirimTipi] CHECK  (([IndirimTipi]=N'tutar' OR [IndirimTipi]=N'yuzde'))
GO
ALTER TABLE [dbo].[Kuponlar] CHECK CONSTRAINT [CK_Kuponlar_IndirimTipi]
GO
ALTER TABLE [dbo].[UrunYorumlari]  WITH CHECK ADD CHECK  (([Puan]>=(1) AND [Puan]<=(5)))
GO
ALTER TABLE [dbo].[Yorumlar]  WITH CHECK ADD CHECK  (([Puan]>=(1) AND [Puan]<=(5)))
GO
USE [master]
GO
