USE [master]
GO
/****** Object:  Database [EticaretDB]    Script Date: 29.04.2026 11:25:31 ******/
CREATE DATABASE [EticaretDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EticaretDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EticaretDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EticaretDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EticaretDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EticaretDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EticaretDB]
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 29.04.2026 11:25:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 29.04.2026 11:25:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](255) NULL,
	[Eposta] [nvarchar](100) NULL,
	[AdSoyad] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiparisDetay]    Script Date: 29.04.2026 11:25:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiparisDetay](
	[DetayID] [int] IDENTITY(1,1) NOT NULL,
	[SiparisID] [int] NOT NULL,
	[UrunID] [int] NOT NULL,
	[Miktar] [int] NOT NULL,
	[BirimFiyat] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DetayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Siparisler]    Script Date: 29.04.2026 11:25:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siparisler](
	[SiparisID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[ToplamTutar] [decimal](10, 2) NOT NULL,
	[Tarih] [datetime] NULL,
	[Durum] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SiparisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 29.04.2026 11:25:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[UrunID] [int] IDENTITY(1,1) NOT NULL,
	[UrunAdi] [nvarchar](100) NOT NULL,
	[Fiyat] [decimal](10, 2) NOT NULL,
	[KategoriID] [int] NULL,
	[Kategori] [nvarchar](100) NULL,
	[GorselURL] [nvarchar](500) NULL,
	[Stok] [int] NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Kategoriler] ON 

INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAdi]) VALUES (1, N'Bilgisayar')
INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAdi]) VALUES (2, N'Donanım')
INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAdi]) VALUES (3, N'Çevre Birimleri')
SET IDENTITY_INSERT [dbo].[Kategoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Kullanicilar] ON 

INSERT [dbo].[Kullanicilar] ([KullaniciID], [KullaniciAdi], [Sifre], [Eposta], [AdSoyad]) VALUES (1, N'admin', N'$2y$10$FHXnhHXzLWMT4lhm69c3n..Rx..m68eZOzxZ0x27ks/W1tM5TD8xC', N'admin@mail.com', N'admin bey')
INSERT [dbo].[Kullanicilar] ([KullaniciID], [KullaniciAdi], [Sifre], [Eposta], [AdSoyad]) VALUES (2, N'mehmet atakan', N'12345', N'mehmetatakanozkan1@gmail.com', N'mehmet atakan')
INSERT [dbo].[Kullanicilar] ([KullaniciID], [KullaniciAdi], [Sifre], [Eposta], [AdSoyad]) VALUES (3, N'mehmet atakan', N'asdf', N'mehmetatakanozkan1@gmail.com', N'mehmet atakan')
SET IDENTITY_INSERT [dbo].[Kullanicilar] OFF
GO
SET IDENTITY_INSERT [dbo].[SiparisDetay] ON 

INSERT [dbo].[SiparisDetay] ([DetayID], [SiparisID], [UrunID], [Miktar], [BirimFiyat]) VALUES (1, 1, 9, 1, CAST(150.00 AS Decimal(10, 2)))
INSERT [dbo].[SiparisDetay] ([DetayID], [SiparisID], [UrunID], [Miktar], [BirimFiyat]) VALUES (2, 2, 10, 1, CAST(75.00 AS Decimal(10, 2)))
INSERT [dbo].[SiparisDetay] ([DetayID], [SiparisID], [UrunID], [Miktar], [BirimFiyat]) VALUES (3, 2, 9, 1, CAST(150.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[SiparisDetay] OFF
GO
SET IDENTITY_INSERT [dbo].[Siparisler] ON 

INSERT [dbo].[Siparisler] ([SiparisID], [KullaniciID], [ToplamTutar], [Tarih], [Durum]) VALUES (1, 1, CAST(150.00 AS Decimal(10, 2)), CAST(N'2026-04-29T11:20:42.723' AS DateTime), N'İptal')
INSERT [dbo].[Siparisler] ([SiparisID], [KullaniciID], [ToplamTutar], [Tarih], [Durum]) VALUES (2, 1, CAST(1425.00 AS Decimal(10, 2)), CAST(N'2026-04-29T11:21:45.550' AS DateTime), N'Beklemede')
SET IDENTITY_INSERT [dbo].[Siparisler] OFF
GO
SET IDENTITY_INSERT [dbo].[Urunler] ON 

INSERT [dbo].[Urunler] ([UrunID], [UrunAdi], [Fiyat], [KategoriID], [Kategori], [GorselURL], [Stok], [Aciklama]) VALUES (1, N'Laptop', CAST(15000.00 AS Decimal(10, 2)), NULL, NULL, NULL, 0, NULL)
INSERT [dbo].[Urunler] ([UrunID], [UrunAdi], [Fiyat], [KategoriID], [Kategori], [GorselURL], [Stok], [Aciklama]) VALUES (2, N'Mouse', CAST(200.00 AS Decimal(10, 2)), NULL, NULL, NULL, 0, NULL)
INSERT [dbo].[Urunler] ([UrunID], [UrunAdi], [Fiyat], [KategoriID], [Kategori], [GorselURL], [Stok], [Aciklama]) VALUES (3, N'Klavye', CAST(500.00 AS Decimal(10, 2)), NULL, NULL, NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[Urunler] OFF
GO
ALTER TABLE [dbo].[Siparisler] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Siparisler] ADD  DEFAULT (N'Beklemede') FOR [Durum]
GO
ALTER TABLE [dbo].[Urunler] ADD  DEFAULT ((0)) FOR [Stok]
GO
ALTER TABLE [dbo].[SiparisDetay]  WITH CHECK ADD FOREIGN KEY([SiparisID])
REFERENCES [dbo].[Siparisler] ([SiparisID])
GO
ALTER TABLE [dbo].[SiparisDetay]  WITH CHECK ADD FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[Siparisler]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
USE [master]
GO
